p {
    font-family: 'Arial';
    color: red;
}
.emphasize {
    font-family: 'Arial';
    color: red;
}
#redtext { /* Select by element id */
    font-family: 'Arial';
    color: red;
}
a:hover {
    color: blue;
}